/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/*.zip
/storage
/tests
error_log
.htaccess
*.sql
/public/images
/public/ckeditor
/febtech.com.au
/hrm
/test.icfei.com/
/whatsapp
/storage
/vendor
/clients-csv
/blog
/*.jpg
/*.jpeg
/*.png
/DEMO
/database
/import-csv
.editorconfig
.env.example
.gitattributes
Brochure.pdf
bootstrap/cache/app.php
bootstrap/cache/cache/
camera/
changes/
file.pdf
hr-section/
laravel-vue-crud/
min-max/
newfile.pdf
pdf
tab/
resources\views\layouts\conn.php