@media (max-width: 1024px) and (min-width:768px){	

	/*.k4table th,.k4table td{
		font-size: 14px !important;
	}*/
	body{font-size: 14px;}
}
@media (max-width: 768px){
	.k4rocky{
	text-align: left !important;
}
	.k4sh{
	text-align: center !important;
}
	.k4ckbox{
	padding-top: 0rem !important;
}

}
.k4button .btn-danger:hover{
	background-color: #fff;
	color: #d9534f;
}
.k4button .btn:focus{
	box-shadow: none;
}
.k4btn button{
border-radius: 5px !important;
}
.k4myinput select{
	padding: 2px 0px;
}
.k4myinput input[type=checkbox] {
    zoom: 2;
    vertical-align: center;
}
.k4rocky{
	text-align: center;
}
.k4myinput .form-control{
	padding: 0rem 0.35rem;
	height: 30px;
}
.k4myinput .form-control:focus{
	box-shadow: none;
}
.gj-datepicker-bootstrap [role=right-icon] button .gj-icon, .gj-datepicker-bootstrap [role=right-icon] button .material-icons {
    position: absolute;
    font-size: 21px;
    top: 5px;
    left: 9px;
}
.k4table th{
	font-weight:500;
}
.k4table th,.k4table td{
	padding:0.25rem;
}
.k4table a{
	color: #d9534f;
}
.k4sh{
	text-align: left;
}
.k4ckbox{
	padding-top: 2rem;
}
